{% extends 'base.html.twig' %}
{% block title %}{{actual_page}}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<div class="row m-0 p-0">
   {% include 'aside.html.twig' %}
   <div class="col-lg-10 p-6">
      {% include 'header.html.twig' with {'user': user, 'actual_page':actual_page, 'email':email, 'role':role} %}
   </div>
   <div class="card mb-5 mb-xl-10">
      <div class="card-body pt-9 pb-0">
         <!--begin::Details-->
         <div class="d-flex flex-wrap flex-sm-nowrap">
            <!--begin: Pic-->
            <div class="me-7 mb-4">
               <div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
                  <img src="{{asset('metronic/media/avatars/300-3.jpg')}}" alt="image">
                  <div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"></div>
               </div>
            </div>
            <!--end::Pic-->
            <!--begin::Info-->
            <div class="flex-grow-1">
               <!--begin::Title-->
               <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                  <!--begin::User-->
                  <div class="d-flex flex-column">
                     <!--begin::Name-->
                     <div class="d-flex align-items-center mb-2">
                        <a href="#" class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">{{user}}</a>
                     </div>
                     <!--end::Name-->
                     <!--begin::Info-->                        
                     <div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
                        <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                        <i class="ki-duotone ki-profile-circle fs-4 me-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                        {{role}}
                        </a>
                        <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary me-5 mb-2">
                        <i class="ki-duotone ki-geolocation fs-4 me-1"><span class="path1"></span><span class="path2"></span></i>                             
                        {{location}}
                        </a>
                        <a href="#" class="d-flex align-items-center text-gray-500 text-hover-primary mb-2">
                        <i class="ki-duotone ki-sms fs-4"><span class="path1"></span><span class="path2"></span></i>        
                        {{email}}
                        </a>
                     </div>
                     <!--end::Info-->
                  </div>
                  <!--end::User-->
               </div>
               <!--end::Title-->
                <div class="d-flex flex-wrap">
                    <!-- Daily Revenue -->
                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                        <div class="d-flex align-items-center">
                            <i class="ki-duotone ki-arrow-up fs-3 text-success me-2"><span class="path1"></span><span class="path2"></span></i>
                            <div class="fs-2 fw-bold counted" data-kt-countup="true" data-kt-countup-value="4500" data-kt-countup-prefix="$" data-kt-initialized="1">$4,500</div>
                        </div>
                        <div class="fw-semibold fs-6 text-gray-500">Daily Revenue</div>
                    </div>
                    <!-- Active Wells -->
                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                        <div class="d-flex align-items-center">
                            <i class="ki-duotone ki-oil fs-3 text-success me-2"><span class="path1"></span><span class="path2"></span></i>
                            <div class="fs-2 fw-bold counted" data-kt-countup="true" data-kt-countup-value="80" data-kt-initialized="1">80</div>
                        </div>
                        <div class="fw-semibold fs-6 text-gray-500">Active Wells</div>
                    </div>
                    <!-- Production Efficiency -->
                    <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
                        <div class="d-flex align-items-center">
                            <i class="ki-duotone ki-arrow-up fs-3 text-success me-2"><span class="path1"></span><span class="path2"></span></i>
                            <div class="fs-2 fw-bold counted" data-kt-countup="true" data-kt-countup-value="60" data-kt-countup-prefix="%" data-kt-initialized="1">%60</div>
                        </div>
                        <div class="fw-semibold fs-6 text-gray-500">Production Efficiency</div>
                    </div>
                </div>

            </div>
            <!--end::Info-->
         </div>
         <!--end::Details-->   
      </div>
   </div>
    <div class="card mb-5 mb-xl-10">
        <div class="card-header border-2">
            <h3 class="card-title fw-bolder text-dark">Profile Details</h3>
        </div>
        <div class="card-body">
            {{ form_start(accountForm, {'attr': {'class': 'form'}}) }}
            <div class="fv-row mb-8 fv-plugins-icon-container">
               <!--begin::Email-->
               {{ form_label(accountForm.name) }}
               {{ form_widget(accountForm.name, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
               <!--end::Email-->
               <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="fv-row mb-8 fv-plugins-icon-container">
               <!--begin::Email-->
               {{ form_label(accountForm.email) }}
               {{ form_widget(accountForm.email, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
               <!--end::Email-->
               <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="fv-row mb-8 fv-plugins-icon-container">
               <!--begin::Email-->
               {{ form_label(accountForm.phone) }}
               {{ form_widget(accountForm.phone, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
               <!--end::Email-->
               <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="fv-row mb-8 fv-plugins-icon-container">
               <!--begin::Email-->
               {{ form_label(accountForm.location) }}
               {{ form_widget(accountForm.location, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
               <!--end::Email-->
               <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="d-grid mb-10">
               <div class="form-group text-center mt-10">
                  {{ form_widget(accountForm.save, {'attr': {'class': 'btn btn btn-primary font-weight-bolder w-100'}}) }}
               </div>
            </div>
            {{ form_end(accountForm) }}
        </div>
    </div>
        <div class="card mb-5 mb-xl-10">
        <div class="card-header border-2">
            <h3 class="card-title fw-bold m-0 text-dark">Desactivate My Account</h3>
        </div>
        <div class="card-body">
            <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6">
               <!--begin::Icon-->
               <i class="ki-duotone ki-information fs-2tx text-warning me-4"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>        <!--end::Icon-->
               <!--begin::Wrapper-->
               <div class="d-flex flex-stack flex-grow-1 ">
                  <!--begin::Content-->
                  <div class=" fw-semibold">
                     <h4 class="text-gray-900 fw-bold">You Are Deactivating Your Account</h4>
                     <div class="fs-6 text-gray-700 ">For extra security, this requires you to confirm your email or phone number when you reset yousignr password.
                     </div>
                  </div>
                  <!--end::Content-->
               </div>
               <!--end::Wrapper-->  
            </div>
            <form>
               <div class="form-check form-check-solid fv-row fv-plugins-icon-container fv-plugins-bootstrap5-row-invalid">
                  <input name="deactivate" class="form-check-input" type="checkbox" value="" id="deactivate" data-gtm-form-interact-field-id="0">
                  <label class="form-check-label fw-semibold ps-2 fs-6" for="deactivate">I confirm my account deactivation</label>
                  <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                     <div data-field="deactivate" data-validator="notEmpty">Please check the box to deactivate your account</div>
                  </div>
               </div>
            </div>
            <div class="card-footer d-flex justify-content-end py-6 px-9">
                     <button id="kt_account_deactivate_account_submit" type="submit" class="btn btn-danger fw-semibold">Deactivate Account</button>
               </div>
         </form>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
</script
{% endblock %}