<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi ERP Demo{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('metronic/plugins/global/plugins.bundle.css') }}">
    <link rel="stylesheet" href="{{ asset('metronic/css/style.bundle.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    <script src="{{ asset('metronic/plugins/global/plugins.bundle.js') }}"></script>
    <script src="{{ asset('metronic/js/scripts.bundle.js') }}"></script>
    <script src="{{ asset('metronic/js/widgets.bundle.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
