{% extends 'base.html.twig' %}
{% set operations = [
    {
        "id": "#OP-001",
        "time": "5 min ago",
        "supervisor": "John Doe",
        "production": "2,000 Bbl",
        "cost": "$5,000",
        "status": "Operating",
        "status_class": "badge-light-success"
    },
    {
        "id": "#OP-002",
        "time": "20 min ago",
        "supervisor": "Alice Smith",
        "production": "1,500 Bbl",
        "cost": "$4,200",
        "status": "Maintenance",
        "status_class": "badge-light-warning"
    },
    {
        "id": "#OP-003",
        "time": "1 hour ago",
        "supervisor": "Robert Fox",
        "production": "2,500 Bbl",
        "cost": "$6,800",
        "status": "Operating",
        "status_class": "badge-light-success"
    },
    {
        "id": "#OP-004",
        "time": "2 hours ago",
        "supervisor": "Cody Fisher",
        "production": "1,200 Bbl",
        "cost": "$3,900",
        "status": "Under Review",
        "status_class": "badge-light-primary"
    },
    {
        "id": "#OP-005",
        "time": "1 day ago",
        "supervisor": "Arlene McCoy",
        "production": "3,000 Bbl",
        "cost": "$7,500",
        "status": "Operating",
        "status_class": "badge-light-success"
    },
    {
        "id": "#OP-006",
        "time": "1 day ago",
        "supervisor": "Eleanor Pena",
        "production": "800 Bbl",
        "cost": "$2,100",
        "status": "Delayed",
        "status_class": "badge-light-danger"
    },
    {
        "id": "#OP-007",
        "time": "10 min ago",
        "supervisor": "Dan Wilson",
        "production": "1,800 Bbl",
        "cost": "$4,500",
        "status": "Operating",
        "status_class": "badge-light-success"
    }
] %}


{% block title %}Dashboard{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
<div class="row m-0 p-0">
    {% include 'aside.html.twig' %}
    <div class="p-6 col-lg-10">
    {% include 'header.html.twig' with {'user': user, 'actual_page':actual_page, 'email':email, 'role':role} %}
        <div class="row m-4 p-0">
            <div class="col-md-6 mb-md-5 mb-xl-10 mb-10">
                <div class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-end mb-5 mb-xl-10 h-50" style="background-color: #003366; background-image:url('{{ asset('metronic/media/patterns/vector-1.png') }}')">
                    <!--begin::Header-->
                    <div class="card-header pt-5">
                        <!--begin::Title-->
                        <div class="card-title d-flex flex-column">   
                            <!--begin::Amount-->
                            <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">85</span>
                            <!--end::Amount-->
                            <!--begin::Subtitle-->
                            <span class="text-white opacity-75 pt-1 fw-semibold fs-6">Active Wells</span>
                            <!--end::Subtitle--> 
                        </div>
                        <!--end::Title-->         
                    </div>
                    <!--end::Header-->

                    <!--begin::Card body-->
                    <div class="card-body d-flex align-items-end pt-0">
                        <!--begin::Progress-->
                        <div class="d-flex align-items-center flex-column mt-3 w-100">
                            <div class="d-flex justify-content-between fw-bold fs-6 text-white opacity-75 w-100 mt-auto mb-2">
                                <span>10 Offline</span>
                                <span>88% Online</span>
                            </div>
                            <div class="h-8px mx-3 w-100 bg-white bg-opacity-50 rounded">
                                <div class="bg-white rounded h-8px" role="progressbar" style="width: 88%;" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!--end::Progress-->
                    </div>
                    <!--end::Card body-->
                </div>

                <div class="card card-flush mb-5 mb-xl-10 h-50">
                    <div class="card-header pt-5">
                        <div class="card-title d-flex flex-column">
                            <div class="d-flex align-items-center">
                                <span class="fs-4 fw-semibold text-gray-500 me-1 align-self-center">Bbl</span>
                                <span class="fs-2hx fw-bold text-gray-900 me-2 lh-1 ls-n2">125,000</span>
                                <span class="badge badge-light-success fs-base">
                                    <i class="ki-duotone ki-arrow-up fs-5 text-success ms-n1"><span class="path1"></span><span class="path2"></span></i>
                                    2.2%
                                </span>
                            </div>
                            <span class="text-gray-500 pt-1 fw-semibold fs-6">Daily Production Output</span>
                        </div>
                    </div>
                    <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
                        <div class="d-flex flex-center me-5 pt-2">
                            <div id="kt_card_widget_17_chart" style="min-width: 70px; min-height: 70px" data-kt-size="70" data-kt-line="11">
                                <span></span>
                                <canvas height="70" width="70"></canvas>
                            </div>
                        </div>
                        <div class="d-flex flex-column content-justify-center flex-row-fluid">
                            <div class="d-flex fw-semibold align-items-center">
                                <div class="bullet w-8px h-3px rounded-2 bg-success me-3"></div>
                                <div class="text-gray-500 flex-grow-1 me-4">Onshore Production</div>
                                <div class="fw-bolder text-gray-700 text-xxl-end">60,000 Bbl</div>
                            </div>
                            <div class="d-flex fw-semibold align-items-center my-3">
                                <div class="bullet w-8px h-3px rounded-2 bg-primary me-3"></div>
                                <div class="text-gray-500 flex-grow-1 me-4">Offshore Production</div>
                                <div class="fw-bolder text-gray-700 text-xxl-end">40,000 Bbl</div>
                            </div>
                            <div class="d-flex fw-semibold align-items-center">
                                <div class="bullet w-8px h-3px rounded-2 me-3" style="background-color: #E4E6EF"></div>
                                <div class="text-gray-500 flex-grow-1 me-4">Refinery Processing</div>
                                <div class="fw-bolder text-gray-700 text-xxl-end">25,000 Bbl</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-bordered h-100">
                    <div class="card-header pt-7">
                        <h3>Monthly Production Trend in {{"now" | date("F")}}</h3>
                    </div>
                    <div class="card-body">
                        <div id="kt_apexcharts_3" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-8 mb-md-5 mb-xl-10 mt-5">
                <div class="card card-flush mb-5 h-100">
                    <div class="card-header pt-7">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold text-gray-800">Active Projects</span>
                            <span class="text-gray-500 mt-1 fw-semibold fs-6">Avg. 57 Projects per day</span>
                        </h3>
                    </div>
                    <div class="card-body pt-2">
                        <div id="kt_table_widget_4_table_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
                            <div id="" class="table-responsive">
                                <table class="table align-middle table-row-dashed fs-6 gy-3 dataTable" id="kt_table_widget_4_table" style="width: 100%;">
                                    <colgroup>
                                        <col data-dt-column="0" style="width: 114.75px;">
                                        <col data-dt-column="1" style="width: 114.75px;">
                                        <col data-dt-column="2" style="width: 143.438px;">
                                        <col data-dt-column="3" style="width: 114.75px;">
                                        <col data-dt-column="4" style="width: 114.75px;">
                                        <col data-dt-column="5" style="width: 125px;">
                                        <col data-dt-column="6" style="width: 39.8906px;">
                                    </colgroup>
                                    <thead>
                                        <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                                            <th class="min-w-100px dt-orderable-none" data-dt-column="0" rowspan="1" colspan="1">
                                                <span class="dt-column-title">Project ID</span>
                                                <span class="dt-column-order"></span>
                                            </th>
                                            <th class="text-end min-w-100px dt-orderable-none" data-dt-column="1" rowspan="1" colspan="1">
                                                <span class="dt-column-title">Last Inspection</span>
                                                <span class="dt-column-order"></span>
                                            </th>
                                            <th class="text-end min-w-125px dt-orderable-none" data-dt-column="2" rowspan="1" colspan="1">
                                                <span class="dt-column-title">Supervisor</span>
                                                <span class="dt-column-order"></span>
                                            </th>
                                            <th class="text-end min-w-100px dt-orderable-none dt-type-numeric" data-dt-column="3" rowspan="1" colspan="1">
                                                <span class="dt-column-title">Output</span>
                                                <span class="dt-column-order"></span>
                                            </th>
                                            <th class="text-end min-w-100px dt-orderable-none dt-type-numeric" data-dt-column="4" rowspan="1" colspan="1">
                                                <span class="dt-column-title">Cost</span>
                                                <span class="dt-column-order"></span>
                                            </th>
                                            <th class="text-end min-w-50px dt-orderable-none" data-dt-column="5" rowspan="1" colspan="1">
                                                <span class="dt-column-title">Status</span>
                                                <span class="dt-column-order"></span>
                                            </th>
                                            <th class="text-end dt-orderable-none" data-dt-column="6" rowspan="1" colspan="1">
                                                <span class="dt-column-title"></span>
                                                <span class="dt-column-order"></span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="fw-bold text-gray-600">
                                    {% for op in operations %}
                                        <tr>
                                            <td>
                                                <a href="/metronic8/demo1/apps/ecommerce/catalog/edit-product.html" class="text-gray-800 text-hover-primary">{{ op.id }}</a>
                                            </td>
                                            <td class="text-end">{{ op.time }}</td>
                                            <td class="text-end">
                                                <a href="#" class="text-gray-600 text-hover-primary">{{ op.supervisor }}</a>
                                            </td>
                                            <td class="text-end dt-type-numeric">{{ op.production }}</td>
                                            <td class="text-end dt-type-numeric">
                                                <span class="text-gray-800 fw-bolder">{{ op.cost }}</span>
                                            </td>
                                            <td class="text-end">
                                                <span class="badge py-3 px-4 fs-7 {{ op.status_class }}">{{ op.status }}</span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div id="" class="row">
                                <div id="" class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start dt-toolbar"></div>
                                <div id="" class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mb-md-5 mb-xl-10 mt-5">
                <div class="card card-bordered">
                    <div class="card-header pt-7">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold text-gray-800">Net Profit Margin</span>
                            <span class="text-gray-500 mt-1 fw-semibold fs-6">Current: 72% | Target: 80%</span> 
                        </h3>
                    </div>

                    <div class="card-body">
                        <div id="kt_amcharts_5" style="height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
am5.ready(function () {
    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("kt_amcharts_5");

    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
        am5themes_Animated.new(root)
    ]);

    // Create chart
    // https://www.amcharts.com/docs/v5/charts/radar-chart/
    var chart = root.container.children.push(am5radar.RadarChart.new(root, {
        panX: false,
        panY: false,
        wheelX: "panX",
        wheelY: "zoomX",
        innerRadius: am5.percent(20),
        startAngle: -90,
        endAngle: 180
    }));

    // Data
    var data = [
        {
            category: "Net Profit Margin",
            value: 72,
            full: 100,
            columnSettings: {
                fill: chart.get("colors").getIndex(0)
            }
        },
        {
            category: "Operating Efficiency",
            value: 65,
            full: 100,
            columnSettings: {
                fill: chart.get("colors").getIndex(1)
            }
        },
        {
            category: "Cost Reduction",
            value: 55,
            full: 100,
            columnSettings: {
                fill: chart.get("colors").getIndex(2)
            }
        },
        {
            category: "Cash Flow",
            value: 80,
            full: 100,
            columnSettings: {
                fill: chart.get("colors").getIndex(3)
            }
        }
    ];


    // Add cursor
    // https://www.amcharts.com/docs/v5/charts/radar-chart/#Cursor
    var cursor = chart.set("cursor", am5radar.RadarCursor.new(root, {
        behavior: "zoomX"
    }));

    cursor.lineY.set("visible", false);

    // Create axes and their renderers
    // https://www.amcharts.com/docs/v5/charts/radar-chart/#Adding_axes
    var xRenderer = am5radar.AxisRendererCircular.new(root, {
        //minGridDistance: 50
    });

    xRenderer.labels.template.setAll({
        radius: 10
    });

    xRenderer.grid.template.setAll({
        forceHidden: true
    });

    var xAxis = chart.xAxes.push(am5xy.ValueAxis.new(root, {
        renderer: xRenderer,
        min: 0,
        max: 100,
        strictMinMax: true,
        numberFormat: "#'%'",
        tooltip: am5.Tooltip.new(root, {})
    }));

    var yRenderer = am5radar.AxisRendererRadial.new(root, {
        minGridDistance: 20
    });

    yRenderer.labels.template.setAll({
        centerX: am5.p100,
        fontWeight: "500",
        fontSize: 18,
        templateField: "columnSettings"
    });

    yRenderer.grid.template.setAll({
        forceHidden: true
    });

    var yAxis = chart.yAxes.push(am5xy.CategoryAxis.new(root, {
        categoryField: "category",
        renderer: yRenderer
    }));

    yAxis.data.setAll(data);

    // Create series
    // https://www.amcharts.com/docs/v5/charts/radar-chart/#Adding_series
    var series1 = chart.series.push(am5radar.RadarColumnSeries.new(root, {
        xAxis: xAxis,
        yAxis: yAxis,
        clustered: false,
        valueXField: "full",
        categoryYField: "category",
        fill: root.interfaceColors.get("alternativeBackground")
    }));

    series1.columns.template.setAll({
        width: am5.p100,
        fillOpacity: 0.08,
        strokeOpacity: 0,
        cornerRadius: 20
    });

    series1.data.setAll(data);

    var series2 = chart.series.push(am5radar.RadarColumnSeries.new(root, {
        xAxis: xAxis,
        yAxis: yAxis,
        clustered: false,
        valueXField: "value",
        categoryYField: "category"
    }));

    series2.columns.template.setAll({
        width: am5.p100,
        strokeOpacity: 0,
        tooltipText: "{category}: {valueX}%",
        cornerRadius: 20,
        templateField: "columnSettings"
    });

    series2.data.setAll(data);

    // Animate chart and series in
    // https://www.amcharts.com/docs/v5/concepts/animations/#Initial_animation
    series1.appear(1000);
    series2.appear(1000);
    chart.appear(1000, 100);
}); 
</script>

<script>
var element = document.getElementById('kt_apexcharts_3');

var height = parseInt(KTUtil.css(element, 'height'));
var labelColor = KTUtil.getCssVariableValue('--kt-gray-500');
var borderColor = KTUtil.getCssVariableValue('--kt-gray-200');
var baseColor = "#3E97FF";
var lightColor = "#D8EAFF";
var options = {
    series: [{
        name: 'Produced Barrels',
        data: [30, 40, 40, 90, 90, 70, 70]
    }],
    chart: {
        fontFamily: 'inherit',
        type: 'area',
        height: height,
        toolbar: {
            show: false
        }
    },
    plotOptions: {

    },
    legend: {
        show: false
    },
    dataLabels: {
        enabled: false
    },
    fill: {
        type: 'solid',
        opacity: 1
    },
    stroke: {
        curve: 'smooth',
        show: true,
        width: 3,
        colors: [baseColor]
    },
    xaxis: {
        categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug'],
        axisBorder: {
            show: false,
        },
        axisTicks: {
            show: false
        },
        labels: {
            style: {
                colors: labelColor,
                fontSize: '12px'
            }
        },
        crosshairs: {
            position: 'front',
            stroke: {
                color: baseColor,
                width: 1,
                dashArray: 3
            }
        },
        tooltip: {
            enabled: true,
            formatter: undefined,
            offsetY: 0,
            style: {
                fontSize: '12px'
            }
        }
    },
    yaxis: {
        labels: {
            style: {
                colors: labelColor,
                fontSize: '12px'
            }
        }
    },
    states: {
        normal: {
            filter: {
                type: 'none',
                value: 0
            }
        },
        hover: {
            filter: {
                type: 'none',
                value: 0
            }
        },
        active: {
            allowMultipleDataPointsSelection: false,
            filter: {
                type: 'none',
                value: 0
            }
        }
    },
    tooltip: {
        style: {
            fontSize: '12px'
        },
        y: {
            formatter: function (val) {
                return `${val}k barrels`
            }
        }
    },
    colors: [lightColor],
    grid: {
        borderColor: borderColor,
        strokeDashArray: 4,
        yaxis: {
            lines: {
                show: true
            }
        }
    },
    markers: {
        strokeColor: baseColor,
        strokeWidth: 3
    }
};

var chart = new ApexCharts(element, options);
chart.render();
</script
{% endblock %}
